[submodule "ViveTrackerSolver"]
	path = ViveTrackerSolver
	url = http://github.com/fughilli/ViveTrackerSolver
[submodule "ViveFPGACapture"]
	path = ViveFPGACapture
	url = http://github.com/fughilli/ViveFPGACapture
[submodule "ViveVisualizer"]
	path = ViveVisualizer
	url = https://github.com/fughilli/ViveVisualizer
